.desktop-1
{
position:absolute;
background-color:#524a4a;
height:1396px;
width:1440px;
padding:0px;
}
.rectangle1
{
background-color:#292929;
height:1396px;
width:1440px;
position:absolute;
top:0px;
left:0px;
}
.rectangle10
{
background-color:#e0dfd4;
height:1396px;
width:1075px;
position:absolute;
top:0px;
left:182px;
}
.rectangle9
{
background-color:#f2cccc;
height:63px;
width:1075px;
left:182px;
top:250px;
position:absolute;
}
.rectangle2
{
background-color:#7bbcbc;
height:63px;
width:150px;
border-radius:30px;
border:1px solid rgba(165, 82, 82, 0.029999999329447746);
top:250px;
left:213px;
position:absolute;
}
.rectangle3
{
background-color:#7bbcbc;
height:63px;
width:151px;
border-radius:30px;
top:250px;
left:385px;
position:absolute;
}
.rectangle4
{
background-color:#7bbcbc;
height:63px;
width:151px;
border-radius:30px;
top:250px;
left:558px;
position:absolute;
}
.rectangle5
{
background-color:#7bbcbc;
height:63px;
width:151px;
border-radius:30px;
top:250px;
left:731px;
position:absolute;
}
.rectangle6
{
background-color:#7bbcbc;
height:63px;
width:150px;
border-radius:30px;
top:250px;
left:904px;
position:absolute;
}
.rectangle7
{
background-color:#7bbcbc;
height:63px;
width:150px;
border-radius:30px;
top:250px;
left:1076px;
position:absolute;
}
.rectangle8
{
background-color:#a2bf89;
height:121px;
width:833px;
border-radius:30px;
top:78px;
left:303px;
position:absolute;
}
.evita’sartspace
{
color:#fff1f1;
text-align:left;
vertical-align:text-top;
font-size:96px;
font-family:Kenia;
left:406px;
top:100px;
width:605px;
height:77px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.featured
{
color:#fff1f1;
text-align:left;
vertical-align:text-top;
font-size:64px;
font-family:Kenia;
left:235px;
top:369px;
width:248px;
height:64px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.news
{
color:#fff1f1;
text-align:left;
vertical-align:text-top;
font-size:64px;
font-family:Kenia;
left:235px;
top:832px;
width:248px;
height:64px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.home
{
color:#e1e1e1;
text-align:left;
vertical-align:text-top;
font-size:32px;
font-family:Kenia;
left:257px;
top:269px;
width:91px;
height:34px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.gallery
{
color:#e1e1e1;
text-align:left;
vertical-align:text-top;
font-size:32px;
font-family:Kenia;
left:406px;
top:269px;
width:143px;
height:34px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.schedules
{
color:#e1e1e1;
text-align:left;
vertical-align:text-top;
font-size:32px;
font-family:Kenia;
left:570px;
top:269px;
width:156px;
height:34px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.tutorials
{
color:#e1e1e1;
text-align:left;
vertical-align:text-top;
font-size:32px;
font-family:Kenia;
left:741px;
top:269px;
width:143px;
height:34px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.about
{
color:#e1e1e1;
text-align:left;
vertical-align:text-top;
font-size:32px;
font-family:Kenia;
left:936px;
top:269px;
width:91px;
height:34px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.signup
{
color:#e1e1e1;
text-align:left;
vertical-align:text-top;
font-size:32px;
font-family:Kenia;
left:1106px;
top:269px;
width:91px;
height:34px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.rectangle11
{
background-color:#d9d9d9;
height:349px;
width:318px;
top:445px;
left:229px;
position:absolute;
}
.rectangle14
{
background-color:#d9d9d9;
height:218px;
width:993px;
top:896px;
left:221px;
position:absolute;
}
.rectangle15
{
background-color:#d9d9d9;
height:218px;
width:993px;
top:1126px;
left:221px;
position:absolute;
}
.rectangle12
{
background-color:#d9d9d9;
height:349px;
width:318px;
top:445px;
left:559px;
position:absolute;
}
.rectangle13
{
background-color:#d9d9d9;
height:349px;
width:318px;
top:445px;
left:893px;
position:absolute;
}