body{
    font-family: Arial, Helvetica, sans-serif;
}


.parent{
    background-color: rgb(233, 171, 233);
    padding: 10px;
    display: grid;
    grid-template-columns: 15% 70% 15% ;
    gap: 3px
}

.child{
    background-color: bisque;
}

.q{
    font-weight: bolder;
}