body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 8, 41);
    position:relative
}

h1{
    font-family: 'Courier New', Courier, monospace;
}

h2{
    text-align: center;
    color: aliceblue;
    
    background-color: rgb(0, 8, 41);
    
}

header{
    
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
    border-radius: 40px;
    padding: 10px 1000px 0px px; 
    height: auto;
    text-shadow: 2px 2px 4px #000000;
    margin-bottom: 0px;

    

    }


nav{
        text-align: center;
        font-weight: bolder;
        font-family: 'Courier New', Courier, monospace;
        
    
    }
    
nav a{
       background-color: rgb(244, 195, 62);
    padding: 10px 20px;
    margin: 0 auto;
    margin-right: 20px;
    display: inline-block;
    color: rgb(35, 47, 108);
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 5px 5px 10px #262626;


}

.iconleft{
    position: static;
    margin-right: 10px;
    height: auto;

}


.bgimage{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.5;
}

.iconhead{
    display: inline-flex;
    align-items: center;
    margin:auto;
    justify-content: center;


   
}

footer{
    background-color: rgb(35, 47, 108);
    color: rgb(244, 195, 62);
}

.feat1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: thin solid #ece8e2;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #3b3b3b;
    padding: 30px
    
}

.desc{
    text-align: center;
    color: aliceblue;
    border-radius: 40px;

}

.news{
    background-color: #e0e0e0;
    border-radius: 5px;
    width: 900px;
    margin: auto;
    box-shadow: 5px 5px 10px #202020;
    
    

}
    
.nl{
    padding: 20px
}


nav a:hover {
    background-color: rgb(23, 1, 102); /* Lighter blue */
    color:rgb(244, 195, 62);
} 